@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


      <!--Individual Pages, will become individual pages in final application that uses the page Frame -->
      <!--Page home or index -->
      <div class="container px-4 py-4" id="home">
        <div class="bg-body-tertiary p-5 rounded">
          <div class="col-sm-8 py-5 mx-auto">
            <h1 class="display-5 fw-normal">WebApi - Friends and pets</h1>
              <p class="fs-5">Welcome to our pages where you can get some information about some friends, their pets, in which city in which Country.</p>
            
              <p>Made by Ndawula A Mudde <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
              <a class="btn btn-primary" href="#friends-by-country" role="button">See my friends</a>
            </p>
        </div>
      </div>
      </div>
