@model List<string>
<div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5" id="partial-modal-launch">
    @foreach (var item in Model)
    {
        <span class="col-md-7 col-lg-8 alert alert-danger" role="alert">
            @item
        </span>
    }
</div>

