<!doctype html>
@using Configuration
@inject IConfiguration configuration;
@inject DatabaseConnections dbConnections;

<html lang="en" data-bs-theme="auto">
<!-- Part of page Frame -->
<!-- html-head with all resources -->
<head>
    <!--From index.cshtml-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Ndawula aria-label Mudde, M.Corp">

    <!-- Modified from index.cshtml-->
    <title>@ViewData["Title"] - Project-B</title>

    <!--From index.cshtml-->
    <link rel="apple-touch-icon" sizes="180x180" href="~/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="~/favicon_io/site.webmanifest">


    <!--From index.cshtml-->
    <!-- Bootstrap styles from their respective templates  -->
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/bootstrap/navbars-offcanvas.css" rel="stylesheet">
    <link href="~/css/bootstrap/features.css" rel="stylesheet">
    <link href="~/css/bootstrap/grid.css" rel="stylesheet">
    <link href="~/css/bootstrap/sign-in.css" rel="stylesheet">
    <link href="~/css/bootstrap/modals.css" rel="stylesheet">

</head>
<body>

        <!-- SVG icons for buttons etc-->
    <!-- SVG icons for buttons etc-->
    <svg xmlns="http://www.w3.org/2000/svg">
        <symbol id="home" viewBox="0 0 16 16">
            <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z" />
        </symbol>
        <symbol id="edit" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
        </symbol>
        <symbol id="undo" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z" />
            <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466" />
        </symbol>
        <symbol id="save" viewBox="0 0 16 16">
            <path d="M11 2H9v3h2z" />
            <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z" />
        </symbol>
    </svg>


    <header>

            <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <span class="fs-4">@ViewData["Title"] - AppMusicRazor</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="~/Index" class="nav-link" aria-current="page">Home</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Friends
                    </a>
                    <ul class="dropdown-menu">
                        <li class="nav-item"><a href="~/Pages/Friends/FriendList" class="nav-link">FriendList</a></li>
                     
                       
                     @*    <li class="nav-item"><a href="~/Pages/Friends/FriendinCountry" class="nav-link">Search</a></li>
                        <li class="nav-item"><a href="~/Studies/Model/PageHandlers" class="nav-link">PageHandlers</a></li>
                        <li class="nav-item"><a href="~/Studies/Model/LatinSentence" class="nav-link">LatinSentence</a></li>
                        <li class="nav-item"><a href="~/Studies/Model/LatinView" class="nav-link">LatinView</a></li> *@
                    </ul>
                </li>
              
            
         >
          
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       FriendbyCountry
                    </a>
                    <ul class="dropdown-menu">
                       <li class="nav-item"><a href="~/Pages/Friends/FriendbyCountry" class="nav-link">FriendbyCountry</a></li>
                    </ul>
                </li>

                   <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Friends-Pets-CityList
                    </a>
                    <ul class="dropdown-menu">
                       <li class="nav-item"><a href="~/Pages/Friends/Friends-Pets-CityList" class="nav-link">Friends-Pets-CityList</a></li>
                    </ul>
                </li>

                </li>
            </ul>
        </header>
    </div>

        <!-- old navigation menu -->
     @*    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">GoodFriends_ProjectB_RazorPages</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> *@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - GoodFriends_ProjectB_RazorPages - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>